html {
	height: 100%;
}

body {
	position: relative;
	margin: 0;
	min-height: 100%;
	padding-bottom: 6.74rem;
}

main{
	margin-bottom: 90px;
}

.page-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.content-box {
	width: 1200px;
}
