.container{
    background-color: #161616;
    width: 400px;
    height: 400px;
    color: #F0F2F5;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
}

.container h1{
    text-align: center;
    margin-bottom: 40px;
}

.container form{
    padding: 0px 50px;
}

.container form p{
    font-size: 1.2rem;
   padding-bottom: 20px;
}

.container a{
    display: flex;
    justify-content: end;
    margin-top: 70px;
}